.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #45a049;
}
.title-section {
  padding: 0 0 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
}
.py-30 {
  padding: 30px 0;
}
.mr-3 {
  margin-right: 10px;
}
.text-right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.space-image {
  margin: 0 auto;
  text-align: center;
  background: #e9ecef;
}
.button-upload-image {
  background: #008cd7;
  color: #fff;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
}
label.lable-avatar {
  width: 100%;
  padding: 10px 0;
}
.search-div {
  padding: 20px;
  background: #e9ecef;
}
.table-bordered > :not(caption) > * > * {
  vertical-align: middle;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  input[type="submit"] {
    width: 100%;
    margin-top: 0;
  }
}
